<?xml version="1.0" encoding="UTF-8"?>
<translation unit="menu">
	<element>
		<id>MENU_NEW_GAME</id>
		<value lang="pl">Nowa gra</value>
		<value lang="en">New game</value>
	</element>
	<elemnent>
		<id>MENU_LOAD_GAME</id>
		<value lang="pl">Załaduj grę</value>
		<value lang="en">Load game</value>
	</elemnent>
	<elemnent>
		<id>MENU_CREDITS</id>
		<value lang="pl">Napisy końcowe</value>
		<value lang="en">Credits</value>
	</elemnent>
	<elemnent>
		<id>MENU_EXIT</id>
		<value lang="pl">Wyjście</value>
		<value lang="en">Exit</value>
	</elemnent>	
</translation>